@layer components {
  .game-detail-grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns, 1), minmax(var(--player-width, 100%), 1fr));
    grid-template-rows: min-content 1fr min-content;
    min-width: var(--min-width, 100%);
    height: 100%;
  }

  .player-header {
    grid-row: 1;
    scroll-snap-align: start;
  }

  .player-score-lists {
    grid-row: 2;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns, 1), minmax(var(--player-width, 100%), 1fr));
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    width: calc(var(--grid-columns, 1) * (100vw / var(--grid-columns, 1)));
  }

  .player-score-list .score-list-item {
    @apply border-t border-dashed;
  }

  .player-current-score {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: var(--spacing-lg);
      background-image: linear-gradient(to bottom, var(--color-gray-light), white 100%);
    }
  }
}
