@layer utilities {
  .btn-common {
    @apply inline-flex items-center justify-center rounded duration-200 ease-in-out;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
      opacity;
  }

  .btn {
    @apply btn-common px-4 py-2 font-medium text-base;
  }

  .btn-sm {
    @apply btn-common text-sm px-2 py-1;
  }

  .btn-lg {
    @apply btn-common text-lg px-4 py-2;
  }

  .btn-primary {
    @apply bg-primary text-white hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2;
  }

  .btn-primary-outline {
    @apply bg-transparent border border-primary text-primary hover:bg-primary-light focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2;
  }

  .btn-secondary {
    @apply bg-gray text-white hover:bg-gray-dark focus:outline-none focus:ring-2 focus:ring-gray focus:ring-offset-2;
  }

  .btn-secondary-outline {
    @apply bg-transparent border border-gray text-gray hover:bg-gray-light focus:outline-none focus:ring-2 focus:ring-gray focus:ring-offset-2;
  }

  .btn:disabled {
    @apply bg-gray-400 cursor-not-allowed hover:bg-gray-400 focus:ring-0;
  }
}
