@layer utilities {
  .form-group {
    @apply mb-4;
  }

  .form-label {
    @apply block text-lg font-semibold text-gray mb-1;
  }

  .form-input {
    @apply flex w-full border text-base border-gray-300 rounded-md shadow-sm px-3 py-2 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary;
  }

  .form-input:disabled {
    @apply bg-gray-100 cursor-not-allowed;
  }

  select.form-input {
    @apply appearance-none bg-white pr-8;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1.5em 1.5em;
  }

  .form-help-text {
    @apply text-xs text-gray-500;
  }

  .form-input + .form-help-text {
    @apply mt-sm;
  }
}
