@import './utils.css';
@import './components/game-detail.css';
@import './components/game-header.css';
@import './components/score-list.css';
@import './components/score.css';
@import './utilities/buttons.css';
@import './utilities/forms.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

